<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

<table class="table-basket">
  <thead class="table-basket-head">
  <tr class="table-basket-row">
    <th colspan="2">Наименование</th>
    <th>Цена</th>
    <th>Кол-во</th>
    <th>Итого</th>
    <th></th>
  </tr>
  </thead>

  <tbody class="table-basket-body">
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
  </tbody>

  <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
    <tr class="cart-subtotal">
      <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, count: @order.line_items.sum(:quantity)) %></h5></td>
      <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
      <td></td>
    </tr>
    <%= render "spree/orders/adjustments" %>
  <% end %>

  <tbody class="table-basket-body table-basket-body-total-cost">
  <tr class="table-basket-row">
    <td colspan="4" class="table-basket-total-word"><%= Spree.t(:total) %>:</td>
    <td class="table-basket-total-cost js-table-basket-total-cost"></td>
    <td></td>
  </tr>
  </tbody>
</table>
