<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
<tr class="table-basket-row">
  <td class="table-basket-img-cell">
    <% if variant.images.length == 0 %>
      <%= link_to small_image(variant.product), variant.product, class: "table-basket-img-link" %>
    <% else %>
      <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product, class: "table-basket-img-link" %>
    <% end %>
  </td>
  <td class="table-basket-describe-cell">
    <%= link_to line_item.name, product_path(variant.product), class: "table-basket-describe-link" %>
    <%= variant.options_text %>
    <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
        </span>
    <% end %>
    <span class="table-basket-describe-text"><%= line_item_description_text(line_item.description) %></span>
  </td>
  <td class="table-basket-cost-one js-usd-to-br" data-br-cost="<%= variant.product.price_in('BYR').amount.to_s %>" data-usd-cost="<%= variant.product.price_in('USD').amount.to_s %>"></td>
  <td class="table-basket-required-items">
    <div class="goods-item-required-inputs-wrapper">
      <span class="goods-item-required-counter-changer-decrease no-select">&ndash;</span>
      <%= item_form.number_field :quantity, min: 0, class: "goods-item-required-input", size: 5 %>
      <span class="goods-item-required-counter-changer-increase no-select">+</span>
    </div>
  </td>
  <td class="table-basket-cost js-row-cost">2</td>
  <td class="table-basket-remove-item-cell">
    <%= link_to '', '#', class: 'table-basket-remove-item-button js-table-basket-remove-item-button', id: "delete_#{dom_id(line_item)}" %>
  </td>
</tr>
<% end %>
