<!doctype html>
<html>
<head data-hook="inside_head">
    <meta context-br="<% cache(CurrencyRate.first) do %><%= CurrencyRate.first.try(:rate) || 0 %><% end %> ">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>

    <%= breadcrumbs(@taxon) %>

    <div id="content" class="main-page-content width-limiter clear-fix">
      <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
      <%= flash_messages %>
      <%= yield %>
      <div class="clear"></div>
    </div>

    <%= yield :templates %>

    <%= render partial: 'spree/shared/footer' %>

  </body>
</html>
