<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div class="width-limiter">

  <%= form_for resource, :as => :spree_user, :url => spree.registration_path, :html => { class: 'main-form clear-fix main-form-single' } do |f| %>

    <!--<h3 class="main-form-header"><%= Spree.t(:new_customer) %></h3>-->
    <h3 class="main-form-header">Регистрация</h3>

    <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>

    <%= f.submit Spree.t(:create), :class => 'goods-item-required-submit' %>

    <%= link_to Spree.t(:login_as_existing), spree.login_path, class: "login-as-existing" %>

  <% end %>

</div>
