extends ../../layouts/wrapper

block content
    div.width-limiter.width-limiter--big-padding.clear-self

        link(href="/static/page/style.css" rel="stylesheet")

        h2.page-header Оплата и доставка
        h3.seo-text__header Информация о доставке

        p.seo-text__paragraph Заказы, принятые
            span.bold= ' до 12:00 '
            | - доставляются в тот же день.

        p.seo-text__paragraph Заказы, принятые после
            span.bold= ' до 12:00 '
            | - доставляются на следующий день.

        p.seo-text__paragraph Доставка производится с понедельника по субботу
            span.bold= ' с 10.00 до 22.00 '
            | в воскресенье выходной.

        h3.seo-text__header Курьерская доставка

        p.seo-text__paragraph Стоимость доставки курьером по г. Минску в пределах МКАД -
            span.bold= ' 7,00 руб'
            |.

        p.seo-text__paragraph Стоимость доставки курьером за пределами МКАД -
            span.bold= ' 10,00 руб'
            |.

        p.seo-text__paragraph При сумме заказа более
            span.bold= ' 100,00 руб '
            | доставка по г. Минску осуществляется бесплатно.


        h3.seo-text__header Доставка почтой

        p.seo-text__paragraph Доставка почтой осуществляется посредством наложенного платежа в соответствии с тарифами РУП «Белпочта» по территории РБ.

        p.seo-text__paragraph Более подробную информацию можно получить на сайте
            = ' '
            a.seo-text__link(href="http://tarifikator.belpost.by" target="_blank") http://tarifikator.belpost.by
            |.

        br
        br
        p.seo-text__paragraph Время доставки согласовывается с менеджером, менеджер обязательно свяжется с Вами сразу после того, как Вы разместите свой заказ.

        p.seo-text__paragraph Доставка осуществляется по адресу, указанному при оформлении заказа.

        p.seo-text__paragraph Если нужно доставить товар по иному адресу, необходимо сообщить адрес менеджеру.

        p.seo-text__paragraph Клиент может проверить комплектность заказа в присутствии курьера.

        p.seo-text__paragraph После того, как курьер, доставивший заказ, убыл с места доставки, претензии по внешнему виду товара не принимаются.

        br
        p.seo-text__paragraph.bold Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке!

        p.seo-text__paragraph.bold Пожалуйста, внимательно проверяйте Ваши персональные данные при регистрации и оформлении заказа!
