<% if @product.price_in(current_currency) and !@product.price.nil? %>
  <div class="goods-item-status-wrapper">
    <p class="goods-item-status-cost js-usd-to-br" data-br-cost="<%= @product.price_in('BYR').amount.to_s %>" data-usd-cost="<%= @product.price_in('USD').amount.to_s %>">
      <% if @product.price_in('BYR').amount %>
          <%= @product.price_in('BYR').amount.to_s %>
      <% else %>
          <%= @product.price_in('USD').amount.to_s %>
      <% end %>
    </p>
    <!--<p class="goods-item-status-cost-old"></p>-->
    <p class="goods-item-status-state">Статус:
      <% if @product.master.can_supply? %>
        <span class="goods-item-status-state-value"><%= Spree.t(:on_hand) %></span>
      <% elsif @product.variants.empty? %>
        <span class="goods-item-status-state-value" style="color:red">
          Под заказ
          <span style="display: none;">
            <%= Spree.t(:out_of_stock) %>
          </span>
        </span>
      <% end %>
    </p>
    <p class="goods-item-status-type" style="display: none;">Тип: <a href="#" class="goods-item-status-category">Машинки индукционные</a></p>

  </div>
<% else %>
  <div id="product-price">
    <br>
    <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
  </div>
<% end %>

<div class="add-goods-to-favorite">Отметить</div>

<%= form_for :order, :url => populate_orders_path, html: { class: "goods-item-required-wrapper" } do |f| %>
  <%= hidden_field_tag "variant_id", @product.master.id %>
    <%= button_tag 'Добавить в корзину', class: 'goods-item-required-submit goods-item-required-submit_wide js-submit-form' %>
    <div class="goods-item-required-inputs-wrapper">
    <span class="goods-item-required-counter-changer-decrease no-select">-</span>
    <%= number_field_tag :quantity, 1, :class => "goods-item-required-input", :min => 1 %>
    <span class="goods-item-required-counter-changer-increase no-select">+</span>
  </div>

  <p class="goods-item-required-sign">Количество</p>
<% end %>
