<%= form.fields_for :bill_address do |bill_form| %>
  <h3 class="main-form-header main-form-double"><%= Spree.t(:billing_address) %></h3>
  <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
<% end %>

<div id="shipping" class="width-50 float-right">
  <%= form.fields_for :ship_address do |ship_form| %>

    <%= label_tag :order_use_billing, :id => 'use_billing', :class => 'main-form-double main-form-group-wrapper no-select' do %>
      <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address?, :class => 'main-form-checkbox' %>
      <span class="main-form-checkbox-state"></span>
      <span class="main-form-checkbox-name"><%= Spree.t(:use_billing_address) %></span>
    <% end %>
    <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
  <% end %>
</div>

<!--<div class="width-limiter">-->

  <div class="main-form-double main-form-group-wrapper clear-fix float-right">
    <%= submit_tag Spree.t(:save_and_continue), :class => 'goods-item-required-submit float-right' %>
  </div>

  <div class="main-form-double main-form-group-wrapper clear-fix">

    <% if try_spree_current_user %>


      <label class="main-form-group-wrapper no-select float-left">
        <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address), :class => 'main-form-checkbox' %>
        <span class="main-form-checkbox-state"></span>
        <span class="main-form-checkbox-name"><%= Spree.t(:save_my_address) %></span>
      </label>

    <% end %>

  </div>

<!--</div>-->



