<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div class="width-limiter clear-fix forms-wrapper" data-hook>

  <div class="width-50 float-left">
    <%= form_for @user, :as => :spree_user, :url => spree.registration_path(@user), html: { class: "main-form clear-fix main-form-double" } do |f| %>
      <h3 class="main-form-header"><%= Spree.t(:create_a_new_account) %></h3>
      <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
      <%= f.button Spree.t(:create), type: 'submit', :class => 'goods-item-required-submit' %>
    <% end %>
  </div>

  <% if Spree::Config[:allow_guest_checkout] %>
    <div class="width-50 float-left">
        <% if flash[:registration_error] %>
          <div class='flash error'><%= flash[:registration_error] %></div>
        <% end %>
        <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration', class: 'main-form clear-fix main-form-double' } do |f| %>
          <div class="main-form-header"><%= Spree.t(:guest_user_account) %></div>
          <label class="main-form-group-wrapper main-form-group-wrapper-required">
            <span class="main-form-input-name"><%= Spree.t(:email) %></span>
            <%= f.email_field :email, :class => 'main-form-input', :placeholder => Spree.t(:email), required: "required", :pattern => "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", :title => "Введите правильный Email" %>
          </label>
          <%= f.button Spree.t(:continue), type: 'submit', :class => 'goods-item-required-submit' %>
        <% end %>
    </div>
  <% end %>

  <%= link_to Spree.t(:login_as_existing), spree.login_path, class: "login-as-existing" %>

</div>
